html,body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-color: #2c2d2d; darkmoooode */
  color: #585858;

}

h1, nav a{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #585858;

}

.intro{
  margin-top: 9%;

}



.intro p, .iconify{
  color: #585858;
}

h1{
  font-size: 3em;

}

/* h1 a {
  color: #585858;
} */

a:hover{
  text-decoration: none;
}

h4,h2{
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  color: #585858;
}

h3{
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  line-height: 2;
  color: #585858;
  font-weight: bold;
}

#cheelab{
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
}

#ballerset{
  font-family: "Bangers", sans-serif;
  color: #007BFF;
  font-size: 2.5em;
}

h2{
  font-size: 1.8em;
  font-weight: bold;
  color: grey;
}

h5{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}

.skills h2{
  font-family: "Merriweather", serif;
  font-size: 3.5em;
  font-weight: 900;
  color: #f1840e ;

}

.iconify{
  font-size: 2.5em;

}

.container{
  text-align: center;
  /* margin-right:50%; */
}

.skills{
  text-align: center;
}

.projects p{
  color: #007BFF;
}


.a p{
  color: #585858;
  font-family: "Roboto", sans-serif;

}
.project{
text-align: center;
  filter: drop-shadow(0 0 0px lightgrey);
-webkit-transition : -webkit-filter 250ms ease-in-out;
     pointer-events: none;
}


.project:hover{
filter: drop-shadow(0 0 10px lightgrey);
}

.contact h2{
  color: #007BFF;
  font-size: 3em;
}

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}



footer li{
display: inline-block;

}
footer .container{
  text-align: center;
}
footer a{
  color: #585858;
  font-size: 0.7em;
}

.tt{
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
.intro embed{
  margin-top: 15%;
  width: 90%;
  height: auto;
}

iframe,.cc{
  visibility: hidden;
}

.tt{
  visibility: visible;
}
.intro h4{
  padding
}

.project{

  width: 115%;
}

.map-container-6{

padding:0;

}


}
